@media only screen and (min-width: 1020px) {
  .question-btn  {
    margin-right: 24px;
    background-color: rgb(202, 16, 9);
    border-radius: 0px;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 2px;
  }

  .question-row {
    display: flex;
    justify-content: space-between;
    height: 30px;
    width: 260px;
  }
}