<div class="d-flex questionTypeBar">

  <div class="justify-content-center my-auto">
    <div class="d-flex justify-content-start ">
      <button class="btn btn-sm btn-info questionSwitch rounded-0 border-0" (click)="questionEditor(1)">Plot</button>
      <button class="btn btn-sm btn-info questionSwitch rounded-0 border-0" (click)="questionEditor(2)">Actor</button>
      <button class="btn btn-sm btn-info questionSwitch rounded-0 border-0" (click)="questionEditor(3)">Poster</button>
      <button class="btn btn-sm btn-info questionSwitch rounded-0 border-0" (click)="questionEditor(4)">Trailer</button>
    </div>
  </div>

</div>