.font-size {
  display: flex;
  align-items: center;
  justify-content: center;
}

.family {
  width: 100px;
  background-color: white;
  height: 24px;
  display: flex;
  justify-content: center;
  -moz-box-shadow: 0 0 6px white;
  -webkit-box-shadow: 0 0 6px white;
  box-shadow: 0 0 6px white;
}

.font-family {
  padding-top: 12px;
  display: flex;
  justify-content: center;
}

.icons {
  display: flex;
  justify-content: space-evenly;
}

.mat-slider.mat-slider-horizontal {
  height: 40px;
}

.back {
  position: absolute;
  top: 30%;
  transition: transform 1s;
}

.font {
  position: absolute;
  top: 50%;
  background-color: rgb(238, 238, 230);
  z-index: 2;
  transition: transform 1s;
}

@keyframes back {
  50%  {transform: translateY(60px);}
  100% {transform: translateY(-50px);}
}

@keyframes font {
  50%  {transform: translateY(60px);}
  100% {transform: translateY(-55px);}
}

.answer {
  position: absolute;
  left: 8px;
}

.track-title {
  padding-top: 12px;
}