.qAWindow {
  text-align: center;
}

.question {
  background-size: cover;
}

.handdraw {
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius:15px 255px; 
}

@media only screen and (min-width: 1020px) {
  .qAWindow  {
    height: 450px;
    width: 662px;    
  }

  .toolBox {
    margin-top: 24px;
    width: 662px;
    height: 52px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(4, 113, 150);
    align-items: center;
  }

  .switchDiv {
    background-color: rgb(4, 113, 150);    
  }
  
  .btn {
    margin-left: 24px;
    margin-right: 24px;
  }

  .switch {
    margin-left: 48px;
    margin-right: 24px;
    margin-top: 12px;
  }

  .plot {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 20px;
    margin-left: 20px;  
  }

}