<div class="question_main" [@cardChange]="tools.card" [style]="style">

  <div *ngIf="tools.card === 'question'" class="question_card"
    [ngStyle]="{'background-image': 'url(' + tools.background.lowUrl + ')' }">

    <text class="plot" [style.border-radius]="tools.corner.value"
      [style.border]="tools.border.value + ' rgb(' + tools.borderColor + ')'" [style.font-weight]="tools.weight"
      [contentEditable]="editable" [style.font-size.px]="tools.fontSize" [style.color]="'rgb(' + tools.fontColor + ')'"
      [style.font-family]="tools.fontFamily.value"
      [style.background-color]="'rgba(' + tools.backColor + ',' + tools.opacity + ')'">
      {{ movie.plot }}
    </text>

  </div>

  <div *ngIf="tools.card === 'answer'">
    <app-answer></app-answer>
  </div>

</div>

<div *ngIf="tools.palette == 'none'" class="question_toolbar">

  <div class="toolbar-button">
    <button class="toolbar_btn" (click)="enableEdition()" *ngIf="tools.card === 'question'"
      [@flyingTool]>Edit
    </button>
    <button class="toolbar_btn" (click)="shuffle()" *ngIf="tools.card === 'question'"
      [@flyingTool]>Shuffle
    </button>
  </div>

  <app-switch class="switch">
  </app-switch>

</div>

<div *ngIf="tools.palette != 'none'" class="question_palette">

  <app-palette></app-palette>

</div>