image-cropper {
  top: 11px;
  left: 10px; 
  margin-top: auto;
  margin-bottom: auto;
  height: 180px;
  width: 180px;
}

.border-tools {
  display: flex;
  justify-content: space-evenly;
  margin-top: 8px;
}

.back-tool {
  position: absolute;
  top: 80px;
}

@keyframes back {
  50%  {transform: translateY(80px);}
  100% {transform: translateY(-70px);}
}

.up-down {
  animation: back 2s both;
}

.crop-div {
  transition: all 2s;
}

.tool_main {
  position: relative !important;
}

.answer {
  position: absolute;
  left: 8px;
}