<div class="tool_main" [style]="style" [@cardChange]="tools.card">

  <div class="tool_tools back-tool" [ngClass]="{'up-down': startAnm == true}">
    <button class="tool_btn" (click)="showBack()">
      <span>Background</span>
    </button>

    <div [hidden]="isHidden">
      <div class="tool_back-selector">
        <button (click)="changeBackground(-1)" class="tool_icon">
          <mat-icon>chevron_left</mat-icon>
        </button>
        <div class="input-group input-group-sm">
          <select class="custom-select" (change)="selectTheme($event.target.value)">
            <option>Backgrounds</option>
            <option value=5>Scary</option>
            <option value=6>Abstract</option>
          </select>
        </div>
        <button (click)="changeBackground(1)" class="tool_icon">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>

      <div class="border-tools">
        <button (click)="changeBorder()" class="tool_icon">
          <mat-icon>border_outer</mat-icon>
        </button>
        <button (click)="changeColor('posterBorder')" class="tool_icon">
          <mat-icon>border_color</mat-icon>
        </button>
      </div>
    </div>
  </div>

</div>


<div>
  <image-cropper [imageURL]="urlToCrop" [maintainAspectRatio]="false" [resizeToWidth]="300" [resizeToHeight]="450"
    [onlyScaleDown]="true" [alignImage]="'center'" format="png" (imageLoaded)="imageLoaded()"
    (imageCropped)="imageCropped($event)" [ngStyle]="getStyle()" class="crop-div">
  </image-cropper>
</div>