.cropTools {
  height: 170px;
  display: flex;
  justify-content: center;
}

image-cropper {  
  margin-top: auto;
  margin-bottom: auto;
  width: 180px;  
}

.borderTools {
  display: flex;
  justify-content: center;
}

.back {
  position: absolute;
  top: 40%;
  transition: transform 1s;
}

@keyframes back {
  50%  {transform: translateY(80px);}
  100% {transform: translateY(-70px);}
}

.up-down {
  animation: back 2s both;
}