<app-navbar (movieList)="selectedMovies($event)">  
</app-navbar>

<app-movie-search (movie)="selectedMovie($event)" 
                  (trailer)="getMovieTrailer($event)"
                  [movieList]="movieList">
</app-movie-search>

<app-question-type (questionType)="selectQuestion($event)">  
</app-question-type>
 
<app-quiz-editor [quizedMovie]="quizedMovie"
                 [component]="selectedQuestion"
                 [trailer]="selectedMovieTrailer">
</app-quiz-editor>

<app-quiz-questions></app-quiz-questions>