<div class="d-flex qAWindow">

  <div *ngIf="screenshotTaken === false"
       class="my-auto mx-auto">
    <div id="player"></div>
  </div>

  <div *ngIf="screenshotTaken === true && screenshotUrls != undefined">
    <div *ngFor="let url of screenshotUrls">
      <img [src]="'https://moviepictures.s3.amazonaws.com/' + url['url']"
            class="screenshot">        
    </div>
  </div>

</div>



<div class="toolBox">
      <button class= "btn btn-info my-2" (click)="takeScreenshot()">Take screenshot</button>
      <button class= "btn btn-info my-2" (click)="generateScrapBooks()">Generate ScrapBook</button>
</div>

