.qAWindow {
  text-align: center;
  background-color: rgb(4, 113, 150);
  position: relative;
}

.ng-resizable-diagonal {
  border-bottom: none !important;
  border-left: none !important;
}

@media only screen and (min-width: 1020px) {
  .qAWindow  {
    height: 450px;
    width: 662px;
    padding-top: 10px;
    overflow: hidden;
  }

  .toolBox {
    margin-top: 24px;
    width: 662px;
    height: 52px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(4, 113, 150);
  }

  .scrapPicDisp {
    display: flex;
    justify-content: space-around;
    height: 65px;
  }

  .scrapPic {
    height: 65px;
    width: 115px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .switch {
    margin-left: 48px;
    margin-right: 24px;
    margin-top: 12px;
  }

  .title {
    position: relative;
    margin-top: -250px;
    margin-bottom: auto;
  }

  .player {
    position: relative
  }

  .gifTool {
    display: flex;
    align-items: center;
  }

  .picTool {
    margin-left: 24px;
    display: flex;
    justify-content: space-between;
  }

  .btn {
    margin-right: 12px;
  }

  .clock {
    margin-top: 14px;
    margin-bottom: 14px;
  }

}