.mixer {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}

.track {
  width: 100%;
  height: 70px;
  background-color: cadetblue;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px 5px 0 0;
}

.title {
  position: absolute;
  right: 0;
  z-index: 100;
  width: fit-content;
}

.left-text{
  text-align: left;
}
 
.musicTrack {
  height: 70px;
  cursor: grab;
  background-color: cadetblue;
  position: relative;
}

[id="0"] .music-volume {
  background-color: #4D91A9;
}

[id="1"] .music-volume {
  background-color: #5681AB;
}

[id="2"] .music-volume {
  background-color: #706EA1;
}

[id="3"] .music-volume {
  background-color: #885887;
}

[id="4"] .music-volume {
  background-color: #934561;
}

.music-volume {
  width: 100%;
  position: absolute;
  bottom: 0px !important;
}

.progress-bar {
  height: 4px;
  max-width: 600px;
  background-color: rgb(215, 190, 130);
}

.icon {
  border: none;
  background: none;
  outline: none;
  color: white;
}

.title-name {
  color: white;
}
