<ng-container [ngSwitch]="component">
  <app-tool-curtain *ngSwitchCase="0"></app-tool-curtain>
  <app-tool-plot (fontSize)="selectedFontSize($event)"
                  (changeColor)="changeFontColor($event)"
                  (fontFamily)="changeFontFamily($event)"
                  (picBack)="changePicBack($event)"
                  (backOpacity)="setBackOpacity($event)"
                  (rounded)="setCornerStyle($event)"
                  (bold)="isTextBold($event)"
                  (border)="whichBorder($event)"
                  [component]="component"
                  *ngSwitchCase="1">
  </app-tool-plot>
  <app-tool-actor (changeColor)="changeFontColor($event)"
                  (fontFamily)="changeFontFamily($event)"
                  (picBack)="changePicBack($event)"
                  (backOpacity)="setBackOpacity($event)"
                  (rounded)="setCornerStyle($event)"
                  (bold)="isTextBold($event)"
                  (border)="whichBorder($event)"
                  [component]="component"
                  *ngSwitchCase="2">
  </app-tool-actor>
</ng-container>
