<div class="tool_main" [style]="style" [@cardChange]="tools.card" *ngIf="tools.card =='question'">

  <div *ngIf="tools.shooting" class="preview-display">

    <div class="preview">
      <div *ngIf="tools.previewPic != undefined && tools.previewPic[0] != undefined">
        <img [src]="'https://moviepictures.s3.amazonaws.com/' + tools.previewPic[0]['url']" class="preview-pic">
      </div>
    </div>

    <div class="tool-icons">
      <button (click)="savePic()" class="tool_icon">
        <mat-icon>check_circle_outline</mat-icon>
      </button>
      <button (click)="deletePic()" class="tool_icon">
        <mat-icon>delete_outline</mat-icon>
      </button>
    </div>
    
  </div>

  <div *ngIf="!tools.shooting">
    <div cdkDropList 
         class="pics-stack"
         cdkDropListLockAxis="y"
         (cdkDropListDropped)="drop($event)">
      <div *ngFor="let scrapPic of tools.scrapPic" 
            cdkDrag
            cdkDragBoundary=".pics-stack">
        <img [src]="'https://moviepictures.s3.amazonaws.com/' + scrapPic.url" class="scrapPic">
      </div>
    </div>
  </div>

</div>

<div class="tool_main" [style]="style" [@cardChange]="tools.card" *ngIf="tools.card =='answer'">
  <app-tool-answer class="answer"></app-tool-answer>
</div>