<div class="d-flex qAWindow">

  <div *ngIf="showQuestion === true" 
        class="posterDiv">

    <div class="blurDiv"
          [ngStyle]="{'filter': color }"
          [ngStyle]="{'filter': blurring }"
          [style.transform]="rotation">

      <div [style]="style"
           class="poster"
           [ngClass]="imageEffect">

      <img src="{{ quizedMovie.poster}}" alt="movie poster"         
           style="height: 100%;">

      </div>

    </div>

  </div>


  <div *ngIf="showQuestion === false" 
        class="posterDiv">

    <h1 class="my-auto">{{ quizedMovie.title }}</h1>
    
  </div>

</div>

<div class="toolBox">

  <div class="d-flex flex-row tools">
    <div class="d-flex flex-row">
      <span style="color: white" class="my-auto mr-2">Blur</span>
      <mat-slider min="0" max="15" step="1" value="0" (input)="onBlurChange($event)"></mat-slider>
    </div> 

    <div class="d-flex flex-row">
      
      <button (click)="changeEffect(-1)" class="fontColorIcon">
        <mat-icon [ngStyle]="{'color':'white'}">chevron_left</mat-icon>
      </button>

      <div class="family">{{ imageEffectDisplay }}</div>

      <button (click)="changeEffect(1)" class="fontColorIcon">
        <mat-icon [ngStyle]="{'color':'white'}">chevron_right</mat-icon>
      </button>
    </div>

    <div class="d-flex flex-row">
      <span style="color: white" class="my-auto mr-2">Rotate</span>
      <mat-slide-toggle (input)="onRotationChange()" class="my-auto"></mat-slide-toggle>
    </div>
  </div>

  <div>
    <div class="switch">
      <app-qaswitch (setSection)="onSelectedSection($event)"></app-qaswitch>
    </div>
  </div>

</div>

<!-- <span style="color: white" class="my-auto mr-2">Color</span>
<mat-slider min="0" max="360" step="10" value="0" (input)="onColorChange($event)"></mat-slider> -->