<div class="question_main">

  <div *ngIf="showQuestion === true" class="question_card"
    [ngStyle]="{'background-image': 'url(' + tools.background.lowUrl + ')' }">

    <div class="blur" [ngStyle]="{'filter': blurring }" [style.transform]="rotation"
      [style.border]="tools.border.value + ' rgb(' + tools.borderColor + ')'">
      <div class="poster" [style]="style" [ngClass]="imageEffect">
        <img [attr.src]="tools.posterSrc">
      </div>
    </div>

  </div>

  <div *ngIf="showQuestion === false" class="question_card"
    [ngStyle]="{'background-image': 'url(' + 'https://image.tmdb.org/t/p/w780' + movie.backdrop + ')' }">
    <img [src]="'https://image.tmdb.org/t/p/w300' + movie.poster" alt="">
  </div>

</div>

<div *ngIf="tools.palette == 'none'" class="question_toolbar">

  <div class="tools">

    <div class="icons">
      <mat-icon class="icon">blur_on</mat-icon>
      <mat-slider min="0" max="15" step="1" value="0" (input)="onBlurChange($event)"></mat-slider>
    </div>

    <div class="icons">
      <button (click)="changeEffect(-1)" class="icon">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <div class="family">{{ imageEffectDisplay }}</div>
      <button (click)="changeEffect(1)" class="icon">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>

    <div class="icons">

      <button (click)="onRotationChange()" class="icon">
        <mat-icon>rotate_right</mat-icon>
      </button>
      <button (click)="crop()" class="icon">
        <mat-icon>crop</mat-icon>
      </button>

    </div>

  </div>

  <div>
    <div class="switch">
      <app-qaswitch (setSection)="onSelectedSection($event)"></app-qaswitch>
    </div>
  </div>

</div>

<div *ngIf="tools.palette != 'none'" class="question_palette">

  <app-palette></app-palette>

</div>