<div class="question_main" [@cardChange]="tools.card" [style.border]="tools.card == 'question'? '2px solid rgb(95,158,160)' : '2px solid rgb(215, 190, 130)'">

  <div *ngIf="tools.card === 'question'" class="question_card"
    [ngStyle]="{'background-image': 'url(' + tools.background.lowUrl + ')' }">

    <div class="blur" [ngStyle]="{'filter': blurring }" [style.transform]="rotation">
      <div class="poster" [style]="style" [ngClass]="imageEffect"
        [style.border]="tools.border.value + ' rgb(' + tools.borderColor + ')'">
        <img [attr.src]="tools.posterSrc">
      </div>
    </div>

  </div>  

  <div *ngIf="tools.card === 'answer'">
    <app-answer></app-answer>
  </div>

</div>

<div *ngIf="tools.palette == 'none'" class="question_toolbar">

  <div class="tools">

    <div class="toolbar_btn" *ngIf="tools.card === 'question'" [@flyingTool]>
      <mat-icon class="icon">blur_on</mat-icon>
      <mat-slider min="0" max="15" step="1" value="0" (input)="onBlurChange($event)"></mat-slider>
    </div>

    <div class="icons">
      <button mat-mini-fab color="accent" (click)="changeEffect(-1)" class="next-btn" *ngIf="tools.card === 'question'" [@flyingTool]>
        <mat-icon>chevron_left</mat-icon>
      </button>
      <div class="family" *ngIf="tools.card === 'question'" [@flyingTool]>{{ imageEffectDisplay }}</div>
      <button mat-mini-fab color="accent" (click)="changeEffect(1)" class="next-btn" *ngIf="tools.card === 'question'" [@flyingTool]>
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>

    <div class="icons" *ngIf="tools.card === 'question'" [@flyingTool]>

      <button (click)="onRotationChange()" class="toolbar_btn">
        <mat-icon>rotate_right</mat-icon>
      </button>
      <button (click)="crop()" class="toolbar_btn">
        <mat-icon>crop</mat-icon>
      </button>

    </div>

  </div>

  <div>
    <div class="switch">
      <app-switch></app-switch>
    </div>
  </div>

</div>

<div *ngIf="tools.palette != 'none'" class="question_palette">

  <app-palette></app-palette>

</div>