.icon {
  color: white;
  border: none;
  background: none;
  outline: none; 
}

.next-btn {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin-left: 12px;
  margin-right: 12px;
}

.question_card {
  align-items: center;
}

.toolBox {
  margin-top: 24px;
  width: 662px;
  height: 52px;
  background-color: rgb(4, 113, 150);
  display: flex;
  justify-content: space-between;
}

.tools {
  margin-left: 24px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.switch {
  margin-right: 24px;
}

.poster {
  margin-top: auto;
  margin-bottom: auto;
}

.blur {
  height: 450px;
  display: flex;
}

.fontColorIcon {
  margin-top: 14px;
  margin-bottom: 14px;
}

.family {
  width: 150px;
  background-color: white;
  height: 24px;
  display: flex;
  justify-content: center;
  -moz-box-shadow: 0 0 6px white;
  -webkit-box-shadow: 0 0 6px white;
  box-shadow: 0 0 6px white;
}

.icons {
  display: flex;
  align-items: center;
}

.crop {
  margin-top: 4px;
}

img {
  max-height: 420px;
}
