html, body { 
  height: 100%;
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.question_main {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 450px;
  width: 662px;
  border: 2px solid var(--toolcolor);
  border-radius: 5px;
}

.question_toolbar {
  margin-top: 24px;
  width: 662px;
  height: 52px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(4, 113, 150);
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
}

.toolbar_btn {
  height: 30px;
  border-radius: 5px;
  background-color: cadetblue;
  color: white;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
}

.tool_btn {
  width: 180px;
  height: 30px;
  border-radius: 10px;
  background-color: var(--toolcolor);
  border: none;
  outline: none;
  color: rgb(238, 238, 230);
  margin-left: auto;
  margin-right: auto;
}

.tool_icon {
  border: none;
  background: none;
  outline: none;
  color: var(--toolcolor);
}

.tool_main {
  background-color: rgb(238, 238, 230);
  height: 202px;
  width: 200px;
  position: absolute;
  overflow: hidden;
  border: 2px solid var(--toolcolor);
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

@keyframes tilt {
  0% { transform: rotate(4deg);}
  20% { transform: rotate(0deg);}
  40% { transform: rotate(-4deg);}
  60% { transform: rotate(0deg);}
  80% { transform: rotate(4deg);}
  100% { transform: rotate(0deg);}
}

.tool_back-selector {
  display: flex;
  width: 190px;
  padding-top: 12px;
  margin-left: 5px;
}

.tool_tools {
  height: 170px;
  display: flex;
  flex-direction: column;
}

.question_palette {
  margin-top: 24px;
  width: 662px;
  height: 52px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(4, 113, 150);
}

.switch {
  margin-right: 24px;
}

.question_card {
  background-size: cover;
  display: flex;
  justify-content: center;
  width: 100%;
}
