.tools {
    background-color: red;
    height: 100%;  
}

.fontSize {
  display: flex;
  align-content: center;
  justify-content: center;
}

.fontIcon {
  margin-top: 5px;
  color: white;
}

.fontColorIcon {
  border: none;
  background: none;
  outline: none;
  color: white;
}

.fontColor {
  display: flex;
  justify-content: space-evenly;
}

.family {
  width: 100px;
  background-color: white;
  height: 24px;
  display: flex;
  justify-content: center;
  -moz-box-shadow: 0 0 6px white;
  -webkit-box-shadow: 0 0 6px white;
  box-shadow: 0 0 6px white;
}

.fontFamily {
  padding-top: 12px;
  display: flex;
  justify-content: center;
}

.toolSwitch {
  color: white;
  display: flex;
  justify-content: center;
  background-color: rgb(4, 113, 150);
  margin-left: 8px;
  margin-right: 8px;
}

.fontsTools {
  height: 170px;
}

.backgroundTools {
  height: 170px;
}

.backgroundThemeSelector {
  display: flex;
  width: 190px;
  padding-top: 12px;
  margin-left: 5px;
}

.textBackCheck {
  margin-top: 6px;
  margin-left: 23px;
  color: white;
}

.back {
  margin-top: 6px;
  display: flex;
  justify-content: space-evenly;
}

.display {
  width: 100px;  
}