<div class="tools">

  <div *ngIf="showFonts" class="fontsTools">


    <div class="fontFamily">

      <button (click)="changeFontFamily(-1)" class="fontColorIcon">
        <mat-icon>chevron_left</mat-icon>
      </button>

      <div class="family">{{ tools.fontFamily.display }}</div>

      <button (click)="changeFontFamily(1)" class="fontColorIcon">
        <mat-icon>chevron_right</mat-icon>
      </button>

    </div>

    <div class="fontColor">

      <button (click)="changeColor('actorFont')" class="fontColorIcon">
        <mat-icon>format_color_text</mat-icon>
      </button>

      <button (click)="isBold()" class="fontColorIcon">
        <mat-icon>format_bold</mat-icon>
      </button>    

    </div>

    <div class="fontFamily">

      <div class="input-group input-group-sm display">
        <select class="custom-select" (change)="selectDisplay($event.target.value)">
          <option value="Name">Name</option>
          <option value="Character">Character</option>
          <option value="None">None</option>
        </select>
      </div>

    </div>

  </div>


  <div *ngIf="!showFonts" class="backgroundTools">


    <div class="backgroundThemeSelector">

      <button (click)="changeBackground(-1)" class="fontColorIcon">
        <mat-icon>chevron_left</mat-icon>
      </button>

      <div class="input-group input-group-sm">
        <select class="custom-select" (change)="selectTheme($event.target.value)">
          <option [selected]="actorThemeOption == undefined">Backgrounds</option>
          <option value=5 [selected]="actorThemeOption == 5">Scary</option>
          <option value=6 [selected]="actorThemeOption == 6">Abstract</option>
        </select>
      </div>

      <button (click)="changeBackground(1)" class="fontColorIcon">
        <mat-icon>chevron_right</mat-icon>
      </button>

    </div>


    <div class="fontSize">

      <mat-icon class="fontIcon">opacity</mat-icon>
      <mat-slider min="0" max="1" step="0.02" 
                  [value]="tools.opacity"
                  (input)="changeOpacity($event.value)"
                  thumbLabel=true tickInterval=0.1>
      </mat-slider>

    </div>


    <div class="back">

      <button (click)="changeColor('actorBack')" class="fontColorIcon">
        <mat-icon> format_color_fill</mat-icon>
      </button>

      <button (click)="onChangeCorner()" class="fontColorIcon">
        <mat-icon>rounded_corner</mat-icon>
      </button>

    </div>

    <div class="back">

      <button (click)="changeBorder()" class="fontColorIcon">
        <mat-icon>border_outer</mat-icon>
      </button>

      <button (click)="changeColor('actorBorder')" class="fontColorIcon">
        <mat-icon>border_color</mat-icon>
      </button>

    </div>

  </div>




  <div class="toolSwitch">
    <mat-slide-toggle (change)="onChange()">
      <span>{{ selectedTools }}</span>
    </mat-slide-toggle>
  </div>

</div>