.autoResponse {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  position:absolute;
  margin-top: 24px;
  margin-left: 11px;    
}

.main {
  background-color: rgb(4,113,150);
  height: 450px;
  width: 662px;
  margin-top: auto;
  margin-left: auto;
  position: relative;
}

img{
  width: 80px;
  height: auto;
}