img {
  margin-top: 20px;
  margin-bottom: 20px;
}

.answer-card {
  display: flex;
  width: 662px;
  height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
}