.question_main{
  background-image: url("https://moviepictures.s3.eu-west-3.amazonaws.com/listen/ear_white_cardboard.jpg");
  background-size: cover;
}

.player {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  
.question {
background-size: cover;
}  
  
.albums {
  display: flex;
  flex-direction: column;   
}

.albumCover {
  height: 130px;
  width: 130px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.albumCover:hover {
  box-shadow: none;
  cursor: pointer;
}

.albumsCover {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 300px;
  max-width: 600px;       
}

.mixer {   
  min-height: 400px;
  min-width: 600px;
}

.question {
  display: flex;
  justify-content: center;
  align-items: center;
}

.deezer-search {
  background-color: rgb(4, 113, 150);
  border-radius: 5px;
  width: 600px;
  height: 80px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.deezer-input {
  margin-left: 12px;
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  top: -15px;
}

input {
  width: 450px;
  border-radius: 5px;
}

input:focus {
  outline: none;
}

img {
  height: 26px;
  width: auto;
  margin-top: 8px;
}

.infoText {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
}

.infoText text {
  margin-left: 10px;
  color: white;
  text-align: left;
  font-style: italic;
  font-family: initial;
}

.info {
  display: block;
  font-size: 16px;
  line-height: 95%;
  margin-top: 7px;
}

.infoText img {
  margin-right: 10px;
}

.album {
  margin-top: 14px;
  margin-bottom: 14px;
}

.track-tool {
  margin-left: 12px;
  display: flex;
  align-items: center;
  position: absolute;
  top: -26px;
}

.mat-slider-horizontal {
  min-width: 320px;
}

.sample-finder {
  display: flex;
  align-items: center;
  position: absolute;
  top: -32px;
}

.sample-search {
  width: 540px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  border: none;
  background: none;
  outline: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;   
}

.sample-display {
  width: 360px;
  background-color: white;
  height: 24px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  -moz-box-shadow: 0 0 6px white;
  -webkit-box-shadow: 0 0 6px white;
  box-shadow: 0 0 6px white;
  border-radius: 5px,
}

.sample-result {
  width: 560px;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 17px;
  align-items: center;
}

form {
  margin-left: 12px;
}

.toolbar-btn {
  height: 30px;
  border-radius: 5px;
  background-color: cadetblue;
  color: white;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
}

.position {
  background-color: white;
  border-radius: 5px;
  min-width: 48px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 4px;
  height: 30px;
}


.inner-bar {
  min-width: 540px;
  position: relative;
}

.toolbar-btn {
  height: 30px;
  border-radius: 5px;
  background-color: cadetblue;
  color: white;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
}

.next-btn {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  height: 34px;
  width: 500px;
  border: 2px solid cadetblue;
  margin-left: 24px;
  display: flex;
  align-items: center;
}

.loader button {
  width: 36px;
  background-color: rgb(215, 190, 130);
  border-radius: 5px;
  animation: scrolling 5s infinite;
}

@keyframes scrolling {
  0%   {transform: translateX(0)}
  50%  {transform: translateX(460px)}
  100% {transform: translateX(0)}
}