<div class="question_main" [@cardChange]="card" [style]="style">

  <div *ngIf="card === 'question'" class="question">

    <div *ngIf="isPlaying == false && mixing == false" class="albums">
      <div class="albumsCover">
        <div *ngFor="let albumCover of albumsCover">
          <img [src]="albumCover.cover_url" class="albumCover" (click)="getTracks(albumCover.id, albumCover.type)">
        </div>
      </div>

      <div class="deezer-search">
        <div class="infoText">
          <div>
            <text class="info">Not what you are looking for? Find it on Deezer & grab it's url. <br>
              It can be either an album, a track or a playlist.</text>
          </div>
          <div>
            <a href="https://www.deezer.com" target="_blank">
              <img src="../../../assets/deezer-logo-small.png" alt="">
            </a>
          </div>
        </div>
      </div>

    </div>

    <div *ngIf="isPlaying === true && mixing == false">
      <iframe scrolling="yes" frameborder="0" allowTransparency="true" [src]="urlSafe" width="600" height="300"
        class="player"></iframe>
    </div>

    <div class="mixer" *ngIf="mixing == true">
      <app-mixer></app-mixer>
    </div>

  </div>

  <div *ngIf="card === 'answer'">
    <app-answer></app-answer>
  </div>

</div>

<div class="question_toolbar">

  <div class="inner-bar">

    <div *ngIf="themes == undefined && mixing == false && card == 'question'" class="deezer-input" [@flyingTool]>
      <form autocomplete="off" #deezerSearch="ngForm" (ngSubmit)=retreiveData(deezerSearch.value.deezerSearch)
        class="deezerInput">
        <input type="text" [(ngModel)]="value" name="deezerSearch"
          placeholder="Ex: https://www.deezer.com/fr/album/365740 ...">
      </form>
    </div>

    <div *ngIf="themes != undefined && mixing == false" class="track-tool" [@flyingTool]>
      <span style="color: white">
        <mat-icon class="album">album</mat-icon>
      </span>
      <mat-slider class="my-auto" [max]="themes.length" min=1 step=1 thumbLabel=true tickInterval=1 value=1
        [vertical]=false (input)="trackChoice($event.value)">
      </mat-slider>
      <button class="toolbar-btn" (click)="selectTrack()" [@flyingTool]>Select</button>
    </div>

    <div *ngIf="mixing == true" class="sample-finder">

      <div *ngIf="samples == undefined" class="sample-search">
        <form #sampleSearch="ngForm" (ngSubmit)=searchSample(sampleSearch.value) [@flyingTool]
          *ngIf="card === 'question'">
          <mat-form-field>
            <mat-label>Sample Search</mat-label>
            <input matInput autocomplete="off" type="text" name="sampleSearch" placeholder="Ex. drums, disco..."
              (ngModel)="model.sampleSearch">
          </mat-form-field>
        </form>

        <div *ngIf="card == 'question'" [@flyingTool]>
          <div class="toolbar-btn" *ngIf="music.isPaused == false">
            <button class="icon" (click)=play()>
              <mat-icon>play_arrow</mat-icon>
            </button>
          </div>
          <div class="toolbar-btn" *ngIf="music.isPaused == true">
            <button class="icon" (click)=pause()>
              <mat-icon>pause</mat-icon>
            </button>
          </div>
        </div>

        <div class="toolbar-btn" [@flyingTool] *ngIf="card === 'question'">
          <button class="icon" (click)=stop()>
            <mat-icon>stop</mat-icon>
          </button>
        </div>

        <div class="toolbar-btn" [@flyingTool] *ngIf="card === 'question'">
          <button class="icon" (click)=forward(5)>
            <mat-icon>forward_5</mat-icon>
          </button>
        </div>

        <div class="toolbar-btn" [@flyingTool] *ngIf="card === 'question'">
          <button class="icon" (click)=forward(10)>
            <mat-icon>forward_10</mat-icon>
          </button>
        </div>

        <div class="position" [@flyingTool] *ngIf="card === 'question'">
          {{ music.position | number : '1.2-2' }}
        </div>

        <div class="toolbar-btn" [@flyingTool] *ngIf="card === 'question'">
          <button class="icon" style="color: red" (click)=record()>
            <mat-icon>save</mat-icon>
          </button>
        </div>

      </div>

      <div *ngIf="samples != undefined" class="sample-result">

        <button mat-mini-fab color="accent" (click)="changeSample(-1)" class="next-btn">
          <mat-icon>chevron_left</mat-icon>
        </button>

        <div class="sample-display" [@flyingTool]>{{ samples[sampleIndex]["name"] }} <b style="color: red">{{
            samples[sampleIndex]["duration"] | number : '1.2-2'}} s</b></div>

        <button mat-mini-fab color="accent" (click)="changeSample(1)" class="next-btn" [@flyingTool]>
          <mat-icon>chevron_right</mat-icon>
        </button>

        <div class="toolbar-btn">
          <button (click)="addToSamples()" class="icon" [@flyingTool]>
            <mat-icon>playlist_add</mat-icon>
          </button>
        </div>

        <div class="toolbar-btn">
          <button (click)="deleteSearch()" class="icon" [@flyingTool]>
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
      </div>

    </div>
  </div>

  <div class="switch">
    <app-qaswitch></app-qaswitch>
  </div>
</div>