.searchBar {
    background-color: rgb(4, 113, 150);
}

#canvas {
  display: none;
}

.moviePoster {
  cursor: pointer;
  opacity: 1;  
}

.selected {
  animation: fade 2s linear;
}


@keyframes fade {
  0%,100% { opacity: 1 }
  50% { opacity: 0 }
}

@media only screen and (min-width: 1020px) {
  .movieTile {
    height: 354px;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
  }
  .moviePoster {
    margin-bottom: 10px;
    margin-left: 5px;   
  }
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color:  red rgb(4, 113, 150);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: rgb(4, 113, 150);
}

*::-webkit-scrollbar-thumb {
  background-color: red;  
}

.palette {
  width: 200px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.colorTile {
  height: 25px;
  width: 25px;
}
