<div class="searchBar" [@largeSmall]="showTools == false ? 'large' : 'small'">
  <div class="movieTile" [@cardAnimation]="movieList.length">
    <div *ngFor="let movieDb of movieList; index as index" class="moviePoster" 
         (click)="chooseMovie(movieDb)">
      <img [src]="'https://image.tmdb.org/t/p/w92' + movieDb.poster">        
    </div>
  </div>

  <!-- <div *ngIf="colors.length > 0" class="palette">
    <div *ngFor="let color of colors">
      <div class="colorTile" [style.background-color]="color.key"></div>
    </div>
  </div> -->

  <canvas id="canvas"></canvas>

</div>