<div class="d-flex qAWindow">

  <div *ngIf="showQuestion === true" class="mainDiv"
  [ngStyle]="{'background-image': 'url(' + tools.background.lowUrl + ')' }">


    <div *ngFor="let actor of actorName; index as i" class="actorCard">
      <div class="card">
        <div class="cardPicture">
          <img *ngIf="actorPicUrl != undefined"
               [attr.src]="actorPicUrl[i][photoIndex[i]]"
               [ngClass]="imgClass[i]  ? 'pixelated' : 'actorPic'"
               crossorigin="anonymous"
               [id]="i">
        </div>
        <div class="nameContain">
          <span [style.border-radius]="tools.corner.value"
                [style.border]="tools.border.value + ' rgb(' + tools.borderColor + ')'"
                [style.font-weight]="tools.weight"
                [style.color]="'rgb(' + tools.fontColor + ')'"
                [style.font-family]="tools.fontFamily.value"
                [style.background-color]="'rgba(' + tools.backColor + ',' + tools.opacity + ')'">
                {{ actorName[i] }}
        </span>          
        </div>
      </div>
    </div>

    <canvas id="canvas" style="display: none;" class="actorPic"></canvas>

  </div>

  

  <div *ngIf="showQuestion === false" class="d-flex justify-content-center w-100" style="background-color: rgba(179, 218, 218, 0.1);" >
    <h1 class="my-auto">{{ movie.title }}</h1>    
  </div>

</div>



<div *ngIf="tools.palette == 'none'" class="toolBox">

  <button mat-mini-fab color="accent" class="mt-1" (click)="nextPicture(-1, selectedActor)">
    <mat-icon>chevron_left</mat-icon>
  </button>

  <mat-form-field class="actorChoice">
    <mat-label>Actor</mat-label>
      <mat-select (selectionChange)="selectActor($event.value)">
        <mat-option *ngFor="let actor of actors, index as index" [value]="index">
          {{actor.actor}}
        </mat-option>
      </mat-select>
  </mat-form-field>

  <button mat-mini-fab color="accent"  class="mt-1" (click)="nextPicture(1, selectedActor)">
    <mat-icon>chevron_right</mat-icon>
  </button>

  <form #searchActor="ngForm"
        (ngSubmit)= submitForm(searchActor.value)>
    <mat-form-field class="actorCustom">
      <mat-label>Custom Search</mat-label>
      <input matInput autocomplete="off"
            type="text"
            name="actorSearch"
            placeholder="Ex. young, cartoon..." 
            (ngModel)="model.searchActor">        
    </mat-form-field>
  </form>

  <span style="color: white" class="my-auto mr-2">Pixelate</span>
  <mat-slider
    class="my-auto" 
    max= 4
    min= 0
    step= 1
    thumbLabel= true
    tickInterval= 1
    [value]= pixelValue[selectedActor]   
    [vertical]=false
    (input)="pixelize($event.value)">Pixelate
  </mat-slider>


  <div>
    <div class="switch">
      <app-qaswitch (setSection)="onSelectedSection($event)"></app-qaswitch>
    </div>
  </div>

</div>

<div *ngIf="tools.palette != 'none'" class="toolBox">

  <app-palette></app-palette>

</div>
