<div class="d-flex qAWindow">

  <div *ngIf="showQuestion === true" class="mainDiv"
        [ngStyle]="{'backgroundImage': (actBack) ?  'url(' + actBack['lowUrl'] + ')' : 'url(' + backUrl + ')'}">


    <div *ngFor="let actor of actorName; index as i" class="actorCard">
      <div class="card">
        <div class="cardPicture">
          <img [src]="actorPicUrl[i][photoIndex[i]]"
              [ngClass]="imgClass[0] ? 'pixelated' : 'actorPic'"
              crossorigin="anonymous"
              [id]="i">
        </div>
        <div class="nameContain">
          <span [style.border-radius]="getRadius()"
                [style.border]="getBorder()"
                [style.font-weight]="getWeight()"
                [style.color]="fontColor != undefined ? fontColor : 'rgb(0 , 0, 0)' "
                [style.font-family]="actFF"
                [style.background-color]="backOpacity != undefined ? backTextColor : 'rgba(' + color + ', 0.7)'">{{ actorName[i]}}
        </span>          
        </div>
      </div>
    </div>

    <canvas id="canvas" style="display: none;" class="actorPic"></canvas>

  </div>

  

  <div *ngIf="showQuestion === false" class="d-flex justify-content-center w-100" style="background-color: rgba(179, 218, 218, 0.1);" >
    <h1 class="my-auto">{{ quizedMovie.title }}</h1>    
  </div>

</div>



<div class="toolBox d-flex" (click)="showBottomTools()">

  <button mat-mini-fab color="accent" class="ml-2 mr-2 mt-1" (click)="previousPicture(selectedActor)">
    <mat-icon>chevron_left</mat-icon>
  </button>

  <mat-form-field style="background-color: rgb(4, 113, 150);" >
    <mat-label>Actor</mat-label>
      <mat-select [(ngModel)]="selectedActor" (selectionChange)="selectActor($event.value)">
        <mat-option *ngFor="let actor of actors, index as index" [value]="index">
          {{actor.actor}}
        </mat-option>
      </mat-select>
  </mat-form-field>

  <button mat-mini-fab color="accent"  class="ml-2 mt-1" (click)="nextPicture(selectedActor)">
    <mat-icon>chevron_right</mat-icon>
  </button>

  <form #searchActor="ngForm"
        (ngSubmit)= submitForm(searchActor.value)>
    <mat-form-field class="ml-2 mr-2">
      <mat-label>Custom Search</mat-label>
      <input matInput autocomplete="off"
                      type="text"
                      name="actorSearch"
                      placeholder="Ex. young, cartoon..." 
                      (ngModel)="model.searchActor">        
    </mat-form-field>
  </form>

  <div>
    <div class="switch">
      <app-qaswitch (setSection)="onSelectedSection($event)"></app-qaswitch>
    </div>
  </div>

</div>


<div  *ngIf="bottomToolBox" class="toolBox d-flex" style="background-color: rgb(4, 113, 150)">

  <div class="container my-auto">
    <mat-radio-group  [(ngModel)]="nameDisplay" class="example-radio-group">
      <mat-radio-button *ngFor="let display of displays" [value]="display.value" 
                        (change)="selectDisplay(display)" [checked]="display.checked"
                        class="ml-3">
        <span style="color: white">{{display.value}}</span>
      </mat-radio-button>
    </mat-radio-group>
  </div>

  <span style="color: white" class="my-auto mr-2">Pixelate</span>
  <mat-slider
    class="my-auto" 
    max= 5
    min= 1
    step= 1
    thumbLabel= true
    tickInterval= 1
    value= "1"
    [(ngModel)]="pixelValue"
    [vertical]=false
    (input)="pixelize($event.value)">Pixelate
  </mat-slider>

</div>
