<div class="question_main">

  <div *ngIf="tools.card === 'question'" class="question-div"
    [ngStyle]="{'background-image': 'url(' + tools.background.lowUrl + ')' }">


    <div *ngFor="let act of actor.pic; index as i" class="single-actor-card">

      <div class="actor-card">
        <div class="actor-card-picture">
          <img [attr.src]="act.url" [ngClass]="actor.pixValue[i] > 0  ? 'pixelated' : 'actor-card-picture'"
            crossorigin="anonymous" [id]="i">
        </div>
        <div class="nameContain">
          <span [style.border-radius]="tools.corner.value"
            [style.border]="tools.border.value + ' rgb(' + tools.borderColor + ')'" [style.font-weight]="tools.weight"
            [style.color]="'rgb(' + tools.fontColor + ')'" [style.font-family]="tools.fontFamily.value"
            [style.background-color]="'rgba(' + tools.backColor + ',' + tools.opacity + ')'">
            {{ actorName[actor.display][i] }}
          </span>
        </div>
      </div>
    </div>

    <canvas id="canvas" style="display: none;" class="actorPic"></canvas>

  </div>

  <div *ngIf="tools.card === 'answer'">
    <app-answer></app-answer>
  </div>
</div>



<div *ngIf="tools.palette == 'none'" class="question_toolbar">

  <button mat-mini-fab color="accent" class="next-btn first-btn" (click)="nextPicture(-1)">
    <mat-icon>chevron_left</mat-icon>
  </button>

  <mat-form-field class="actor-choice">
    <mat-label>Actor</mat-label>
    <mat-select (selectionChange)="selectActor($event.value)">
      <mat-option *ngFor="let actor of actorName[1]; index as index" [value]="index">
        {{ actor }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-mini-fab color="accent" class="next-btn" (click)="nextPicture(1)">
    <mat-icon>chevron_right</mat-icon>
  </button>

  <form #searchActor="ngForm" (ngSubmit)=submitForm(searchActor.value)>
    <mat-form-field class="actor-custom">
      <mat-label>Custom Search</mat-label>
      <input matInput autocomplete="off" type="text" name="actorSearch" placeholder="Ex. young, cartoon..."
        (ngModel)="model.searchActor">
    </mat-form-field>
  </form>

  <div class="pixel">
    <mat-icon class="icon">grain</mat-icon>
    <mat-slider max=4 min=0 step=1 thumbLabel=true tickInterval=1 [value]=actor.pixValue[selectAct] [vertical]=false
      (input)="pixelNav($event.value)">
    </mat-slider>
  </div>

  <div>
    <div class="switch">
      <app-qaswitch (setSection)="onSelectedSection($event)"></app-qaswitch>
    </div>
  </div>

</div>

<div *ngIf="tools.palette != 'none'" class="question_palette">

  <app-palette></app-palette>

</div>