.actor-card {
  background-color: rgba(255, 255, 255, 0) !important;
  border: 0px;
}

.answer-div {
  background-size: cover;
  display: flex;
  justify-content: center;
  width: 100%;
}

button:focus {
  outline: none;
}

.example-radio-group {
  display: flex;
  flex-direction: row;  
}

.canvas-wrapper {
  width: 84;
  height: 67;
}

.actorChoice {
  background-color: rgb(4, 113, 150);
}

.single-actor-card {
  height: 223px;
  width: 329px;
  margin-top: 6px;
}

.question-div {
  display: flex;
  flex-wrap: wrap;
  background-size: cover;
}

.actor-card-picture {
  width: auto;
  height: 170px;
  object-fit: contain;
}

.nameContain {
  margin-top: 12px;
  font-size: 20px;
}

.pixelated {    
  width: auto;    
  height: 170px;
  object-fit: contain;
  image-rendering: pixelated
}

.actor-choice {
  width: 120px;
}

.actor-custom {
  width: 120px;
  padding: 0;
}

.next-btn {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.icon {
  color: white;
  border: none;
  background: none;
  outline: none; 
}

.pixel {
  display: flex;
  align-items: center;
}

.first-btn {
  margin-left: 24px;
}

.actor-tools {
  min-width: 540px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
